fastapi
uvicorn
chromadb
python-dotenv
langchain
langchain-community
langchain-groq
pymupdf
sqlalchemy
pydantic
python-multipart
requests
beautifulsoup4
httpx
pandas
numpy
sentence-transformers
yfinance